<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Lista pojazdów</title>
</head>
<body>
    <div class="navbar">
        <a href="/"><img src="{% static 'bus.png' %}" alt="Ikona autobusu" class="logo"></a>
        <a href="/passengers">Pasażerowie</a>
        <a href="/vehicles">Pojazdy</a>
        <a href="/drivers">Kierowcy</a>
        <a href="/schedules">Kursy</a>
        <a href="/trips">Lista przejazdów</a>
        <a href="/new-reservation" class="right">Nowa rezerwacja</a>
    </div>
    <h1>Lista pojazdów</h1>
    <table>
        <thead>
            <tr>
                <th>Nr rejestracyjny</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Rok produkcji</th>
                <th>Liczba miejsc</th>
                <th>Data przeglądu</th>
                <th>Uwagi</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.license_plate }}</td>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.seats }}</td>
                <td>{{ vehicle.review_date }}</td>
                <td>{{ vehicle.notes }}</td>
                <td><a href="{% url 'vehicle_edit' vehicle.id %}">Edytuj</a></td>
                <td><a href="{% url 'vehicle_delete' vehicle.id %}" onclick="return confirm('Czy na pewno chcesz usunąć ten pojazd?')">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'vehicle_add' %}">Dodaj nowy pojazd</a>

</body>
</html>