<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Lista pojazdów</title>
</head>
<body>

    {% include 'partials/navbar.html' %}

    <div class="h1-container">
        <h1>Lista kursów</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>Czas odjazdu</th>
                <th>Miejsce początkowe</th>
                <th>Miejsce docelowe</th>
                <th>Częstotliwość przejazdu</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.time }}</td>
                <td>{{ schedule.origin }}</td>
                <td>{{ schedule.destination }}</td>
                <td>{{ schedule.frequency }}</td>
                <td><a href="{% url 'schedule_edit' schedule.id %}">Edytuj</a></td>
                <td><a href="{% url 'schedule_delete' schedule.id %}" onclick="return confirm('Czy na pewno chcesz usunąć ten kurs?')">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="right" style="margin-right: 5%">
        <a href="{% url 'schedule_add' %}" class="button">Dodaj nowy kurs</a>
    </div>

</body>
</html>