<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Edytuj dane kursu</title>
</head>
<body>

    {% include 'partials/navbar.html' %}

    <div class="h1-container">
        <h1>Edytuj dane kursu</h1>
    </div>

    <form action="/schedules/edit/{{ schedule.id }}/" method="post">
        {% csrf_token %}
        <label for="time">Termin</label>
        <input type="datetime-local" name="time" id="time" value="{{ schedule.time|date:'Y-m-d\\TH:i'}}" required>
        
        <label for="origin">Miejsce początkowe</label>
        <input type="text" name="origin" id="origin" value="{{ schedule.origin }}" required>
        
        <label for="destination">Miejsce docelowe</label>
        <input type="text" name="destination" id="destination" value="{{ schedule.destination }}" required>
        
        <label for="frequency">Częstotliwość kursu</label>
        <select name="frequency" id="frequency">
            <option value="daily" {% if schedule.frequency == 'daily' %}selected{% endif %}>Codziennie</option>
            <option value="weekly" {% if schedule.frequency == 'weekly' %}selected{% endif %}>Co tydzień</option>
            <option value="monthly" {% if schedule.frequency == 'monthly' %}selected{% endif %}>Co miesiąc</option>
            <option value="non-regular" {% if schedule.frequency == 'non-regular' %}selected{% endif %}>Nieregularnie</option>
        </select>
    
        <div class="right">
            <button type="submit">Zapisz</button>
        </div>
    </form>

    <div class="centered">
        <a href="/schedules/" class="button">Powrót do listy kursów</a>
    </div>

</body>
</html>